#main-nav li:hover .sub-menu>li{
    display: block;
    top: 0;
}

.sub-menu li{
    display: none;
    position: absolute;
    top: 0;
}

.sub-menu{
    display: flex;
    flex-direction: column;
}
.sub-menu li:hover .sub-menu1>li{
    display: block;
}

.sub-menu1 li{
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
}

.sub-menu1{
    display: flex;
    flex-direction: column;
    
}